<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post list</title>
</head>
<body>
    <!-- {{ items }} -->
    <div style="margin-left: 40%">
        <p style="font-size:52px">Vittke the Boss</p>
    </div>

    </div style="font-size:18px; margin-left: 18%; position: absolute; text-align: center">
        <h2>Category</h2>
        {% for i in category %}
        <br><a href="{% url 'categories' category_pk=i.pk %}">{{i}}</a></br>
        {% endfor %}
    </div>

    <div style="margin-left: 50px; margin-top: 40px; margin-bottom: 40px; ">
        <a style="font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
            href="{% url 'post_new' %}">
            Create new post
        </a>
        <a style="font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
            href="{% url 'post_draft' %}">
            Draft
        </a>
        <a style="font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
            href="{% url 'post_list' %}">
            Public
        </a>
    </div>

    {% for post in items %}
    <div style = "margin: 20px; display: inline-block">
        <div style="border: 1px solid; ">
            <div style="margin: 20px; text-align: center">
                <a href="{% url 'post_detail' post_pk=post.pk%}">{{ post.title }}</a>
            </div>
            <div style="border-top: 1px solid"> {{ post.publish_date }} </div>
        </div>
    </div>
    {% endfor %}

    <div style="margin-top: 50px; margin-left: 25px">
        <h3>Number of posts</h3>
        {{counter}}
    </div>
</body>
</html>
