<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post list</title>
</head>
<body>
<style>

</style>
    <!-- {{ items }} -->
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px">
        <a style="font-size:52px; color: black" 
        href="{% url 'post_list' %}">
        Vittke the Boss
    </a>
    </div>
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px">
        <a style="font-size:52px; color: black">
        {{post.category}}
    </a>
    </div>
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px; ">
        <a style="font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
            href="{% url 'post_list' %}">
            Back to post
        </a>

        <a style="margin: 5px; font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
        href="{% url 'post_edit' post_pk=post.pk %}">
            Edit
        </a>

        {% if post.published == False %}
        <a style="margin: 5px; font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
        href="{% url 'published_post' post_pk=post.pk %}">
            Publish
        </a>
        {% endif %}

        <a style="margin: 5px; font-size:25px; color: black; border: 1px solid; border-radius: 20px; padding: 10px" 
        href="{% url 'post_delete' post_pk=post.pk %}">
            Delete
        </a>
    </div>
    
    
    <div style ="">
        <div style="text-align: center;">
            <div style=""> {{ post.publish_date }} </div>
            <div style="font-size: 30px">
                <a>{{ post.title }}</a>
            </div>
            <div style="margin-top: 30px;">
                {{ post.text }}
            </div>
            <a>Number of comments</a>
            <br style="margin-top: 30px;">
            {% for i in comment %}
                <br>{{i.text}}</br>
                <br>{{i.author}}</br>
                <br>{{i.publish_date}}</br>                              
            {% endfor %}
            <h5>{{counter}}</h5>
            </div>


        </div>
    </div>
 
</body>
</html>
